In [2]:
import pyodbc
conn = pyodbc.connect(
    "Driver={SQL Server Native Client 11.0};"
    "Server={DESKTOP-SH9VOGC};"
    "Database={MICHELLE};"
    "Trusted_Connection=yes;"
)

In [12]:
def read(conn):
    print("Read")
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM dbo.table1")
    for row in cursor:
         print(row)
    print()
read(conn)

Read
('ABIA', 1034681, 570609, 1605290)
('ADAMAWA', 1265890, 523719, 1789609)
('AKWA-IBOM', 1390096, 1144399, 2534495)
('ANAMBRA', 1960110, 296325, 2256435)
('BAUCHI', 1980254, 555407, 2535661)
('BAYELSA', 745609, 287671, 1033280)
('BENUE', 2023111, 617938, 2641049)
('BORNO', 905571, 224583, 1130154)
('CROSS RIVER', 1341191, 618484, 1959675)
('DELTA', 1488604, 1005848, 2494452)
('EBONYI', 1142164, 194868, 1337032)
('EDO', 1609031, 376734, 1985765)
('EKITI', 1030462, 188386, 1218848)
('ENUGU', 1565271, 585568, 2150839)
('GOMBE', 887821, 442478, 1330299)
('IMO', 1274875, 1209882, 2484757)
('JIGAWA', 1536750, 442495, 1979245)
('KADUNA', 2023563, 1339952, 3363515)
('KANO', 3088157, 1424686, 4512843)
('KATSINA', 2106028, 650682, 2756710)
('KEBBI', 1281678, 245697, 1527375)
('KOGI', 1201893, 677097, 1878990)
('QUARA', 1162574, 186163, 1348737)
('LAGOS', 5502380, 1329490, 6831870)
('NASAWARA', 870027, 165232, 1035259)
('NIGER', 1385822, 707559, 2093381)
('OGUN', 1866467, 362720, 2229187)
('ONDO', 1645270, 440389, 2085659)
('OSUN', 1641941, 295590, 1937531)
('OYO', 2653491, 521216, 3174707)
('PLATEAU', 1187019, 645166, 1832185)
('RIVERS', 2207671, 1714189, 3921860)
('SOKOTO', 1341039, 216339, 1557378)
('TARABA', 818793, 532520, 1351313)
('YOBE', 817372, 298563, 1115935)
('ZAMFARA', 1285512, 209978, 1495490)
('FCT, ABUJA', 1259093, 515996, 1775089)
('CLUB', 120853, 455733, 653597)

In [4]:
def select(conn):
    print("Select")
    cursor = conn.cursor()
    cursor.execute("SELECT STATE,EMPLOYED FROM dbo.table1 WHERE STATE='ANAMBRA'")
    for row in cursor:
         print(row)
    print()
select(conn)

Select
('ANAMBRA', 1960110)

In [11]:
def insert(conn):
    print("Read")
    cursor = conn.cursor()
    cursor.execute("INSERT INTO dbo.table1 (STATE, EMPLOYED, UNEMPLOYED, LFPS) VALUES ('CLUB','120853','455733','653597')")
    for row in cursor:
         print(row)
    print()
insert(conn)

Read

ProgrammingError: No results.  Previous SQL was not a query.

In [9]:
def delete(conn):
    print("Read")
    cursor = conn.cursor()
    cursor.execute("DELETE FROM dbo.table1 WHERE STATE='CLUB'")
    for row in cursor:
         print(row)
    print()
delete(conn)

Read

ProgrammingError: No results.  Previous SQL was not a query.