In [1]:
import pyodbc
conn = pyodbc.connect(
    "Driver={SQL Server Native Client 11.0};"
    "Server={DESKTOP-SH9VOGC};"
    "Database={MICHELLE};"
    "Trusted_Connection=yes;"
)

In [10]:
def read(conn):
    print("Read")
    cursor = conn.cursor()
    cursor.execute("SELECT * FROM dbo.table2")
    for row in cursor:
         print(row)
    print()
read(conn)

Read
('ABIA', 1034681.0, 570609.0, 1605290.0)
('ADAMAWA', 1265890.0, 523719.0, 1789609.0)
('AKWA-IBOM', 1390096.0, 1144399.0, 2534495.0)
('ANAMBRA', 1960110.0, 296325.0, 2256435.0)
('BAUCHI', 1980254.0, 555407.0, 2535661.0)
('BAYELSA', 745609.0, 287671.0, 1033280.0)
('BENUE', 2023111.0, 617938.0, 2641049.0)
('BORNO', 905571.0, 224583.0, 1130154.0)
('CROSS RIVER', 1341191.0, 618484.0, 1959675.0)
('DELTA', 1488604.0, 1005848.0, 2494452.0)
('EBONYI', 1142164.0, 194868.0, 1337032.0)
('EDO', 1609031.0, 376734.0, 1985765.0)
('EKITI', 1030462.0, 188386.0, 1218848.0)
('ENUGU', 1565271.0, 585568.0, 2150839.0)
('GOMBE', 887821.0, 442478.0, 1330299.0)
('IMO', 1274875.0, 1209882.0, 2484757.0)
('JIGAWA', 1536750.0, 442495.0, 1979245.0)
('KADUNA', 2023563.0, 1339952.0, 3363515.0)
('KANO', 3088157.0, 1424686.0, 4512843.0)
('KATSINA', 2106028.0, 650682.0, 2756710.0)
('KEBBI', 1281678.0, 245697.0, 1527375.0)
('KOGI', 1201893.0, 677097.0, 1878990.0)
('QUARA', 1162574.0, 186163.0, 1348737.0)
('LAGOS', 5502380.0, 1329490.0, 6831870.0)
('NASAWARA', 870027.0, 165232.0, 1035259.0)
('NIGER', 1385822.0, 707559.0, 2093381.0)
('OGUN', 1866467.0, 362720.0, 2229187.0)
('ONDO', 1645270.0, 440389.0, 2085659.0)
('OSUN', 1641941.0, 295590.0, 1937531.0)
('OYO', 2653491.0, 521216.0, 3174707.0)
('PLATEAU', 1187019.0, 645166.0, 1832185.0)
('RIVERS', 2207671.0, 1714189.0, 3921860.0)
('SOKOTO', 1341039.0, 216339.0, 1557378.0)
('TARABA', 818793.0, 532520.0, 1351313.0)
('YOBE', 817372.0, 298563.0, 1115935.0)
('ZAMFARA', 1285512.0, 209978.0, 1495490.0)
('FCT, ABUJA', 1259093.0, 515996.0, 1775089.0)

In [4]:
def select(conn):
    print("Select")
    cursor = conn.cursor()
    cursor.execute("SELECT F1,F2 FROM dbo.table2 WHERE F1='ABIA'")
    for row in cursor:
         print(row)
    print()
select(conn)

Select
('ABIA', 1034681.0)

In [7]:
def insert(conn):
    print("Read")
    cursor = conn.cursor()
    cursor.execute("INSERT INTO dbo.table2 (F1, F2, F3, F4) VALUES ('cu','123','45','67')")
    for row in cursor:
         print(row)
    print()
insert(conn)

Read

ProgrammingError: No results.  Previous SQL was not a query.

In [9]:
def delete(conn):
    print("Read")
    cursor = conn.cursor()
    cursor.execute("DELETE FROM dbo.table2 WHERE F1='cu'")
    for row in cursor:
         print(row)
    print()
delete(conn)

Read

ProgrammingError: No results.  Previous SQL was not a query.